$calc: #dfd8d0;
$numbers: #959584;
$bg: #959584;
$grey-button: #3a3a3a;
$calc-screen: #c3c2ab;
$red-button: #a72d45;
body {
  font-family: 'Orbitron', sans-serif;
  background-color: #818181;
}

* {
  box-sizing: border-box;
}

.cf:before, .cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.container-fluid {
  background: #818181;
  padding: 6rem 13rem 6rem;
}

.wrapper {
  padding: 6rem;
}

#calculator {
  padding: 2rem 2rem 4rem;
  background: $calc;
  border: 3px solid #908b85;
  border-radius: 2rem;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}

#header {
  padding: 1rem;
  header {
    .logo {
      color: $grey-button;
      margin: 1% 0;
      float: left;
    }
    .sun-charger {
      margin-top: .8%;
      /*background: $grey-button;*/
      background: #2f1a13;
      height: 40px;
      width: 40%;
      position: relative;
      float: right;
      border: 2px solid #818181;
      border-radius: 1rem;
      &:after {
        content: ' ';
        height: 100%;
        width: 1px;
        background: rgba($bg, 0.3);
        position: absolute;
        left: 25%;
      }
      .col1 {
        margin: 0 1rem;
        &:after {
          content: ' ';
          height: 36px;
          width: 1px;
          background: rgba($bg, 0.3);
          position: absolute;
          left: 50%;
        }
      }
      .col2 {
        margin: 0 1rem;
        &:after {
          content: ' ';
          height: 36px;
          width: 1px;
          background: rgba($bg, 0.3);
          position: absolute;
          left: 75%;
        }
      }
    }
  }
}

#screen {
  padding: 2rem;
  border: 4px solid #818181;
  border-radius: 1rem;
  box-shadow: inset -1px -6px 12px 0.1px #89847e;
  background: $calc-screen;
  .screen-wrapper {
    float: right;
    .screen, .equation {
      float: right;
      display: block;
      font-size: 28px;
    }
  }
}

.red-button {
  width: 90%;
  height: 40px;
  background: #a72d45;
  box-shadow: 0 4px 0 0 #792032, inset -1px -3px 10px 1px #cf4a64;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 1rem;
  margin: 0 auto;
  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 0 #792032, inset -1px -3px 10px 1px #cf4a64;
  }
}

.black-button {
  @extend .red-button;
  width: 100%;
  background: $grey-button;
  box-shadow: 0 4px 0 0 #222121, inset -1px -3px 10px 1px #515151;
  &:active {
    box-shadow: 0 2px 0 0 #222121, inset -1px -3px 10px 1px #515151;
  }
}


#keyboard {
  .button-group {
    margin: 5% 0 0 8%;
  }
  .keyboard-wrapper {
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: .5rem;
    ul {
      list-style: none;
      padding: 0;
      margin: 3% 0 0 6%;
      li {
        #restart{
          width: 100%;
        }
        #result{
          margin-top: 1.5rem;
        }
        width: 30%;
        margin: 1.5%;
        font-size: 18px;
        text-align: center;
        float: left;
        &:nth-child(19) {
          width: 96%;
        }
        &:active {
          transform: translateY(2px);
        }
      }
    }
  }
}

#footer {
  text-align: center;
  .footer-wrapper {
    padding-bottom: 6rem;
    h3 {
      margin: 0;
    }
    a {
      color: #a72d45;
      text-decoration: none;
    }
  }
}
